<div class="container">
  <div class="row">
    <div class="col-lg-12">

        <div class="d-flex justify-content-center">

            <div class="logoWip">
                  <div class="row">
                    <div class="col-lg-12 text-center">
                        <img src="../../assets/img/logo.png" width="400px">
                    </div>
                    <div class="col-lg-12 text-center">
                        <p><img src="../../assets/img/LogoCana.png" width="200px"></p>
                    </div>
                  </div>
            </div>

        </div>

      <li class="item">
        <div class="avatar"></div>
        <div class="text">
          <h1>
           รสมัจฉะ
          </h1>
          <p>
            มัจฉะหวานฉ่ำ
          </p>
        </div>
        <div class="movement">
          <span>7</span>
        </div>
        <div class="rank">
          <span>3</span>
        </div>
      </li>
      <li class="item">
        <div class="avatar"></div>
        <div class="text">
          <h1>
            This is a title!
          </h1>
          <p>
            And a few words too.
          </p>
        </div>
        <div class="movement">
          <span>6</span>
        </div>
        <div class="rank">
          <span>9</span>
        </div>
      </li>
      <li class="item">
        <div class="avatar"></div>
        <div class="text">
          <h1>
            This is a title!
          </h1>
          <p>
            And a few words too.
          </p>
        </div>
        <div class="movement">
          <span>9</span>
        </div>
        <div class="rank">
          <span>10</span>
        </div>
      </li>
      <li class="item">
        <div class="avatar"></div>
        <div class="text">
          <h1>
            This is a title!
          </h1>
          <p>
            And a few words too.
          </p>
        </div>
        <div class="movement">
          <span>3</span>
        </div>
        <div class="rank">
          <span>11</span>
        </div>
      </li>


    </div>
  </div>
</div>