<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">WIP Camp #11</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">รายชื่อวิป<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">เพิ่มคะแนน</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">WIP-ID</th>
        <th scope="col">WIP Name</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      
      <div *ngFor="let list of WIPList; let i = index">
          <tr>
              <th>{{ list._id}}</th>
              <td>{{ list.name}}</td>
              <td>{{ list.score }}</td>
            </tr>

      </div>
    
    </tbody>
  </table>
</div>

<footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>




